.container {
  height: 100vh;
  max-width: 992px;
  margin: auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
    min-height: 100vh;
    height: auto;
  }
  .container section {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}